doctype
html(ng-app='nodepp')
  head
        title!=title
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js")
        script.
            var nodepp = angular.module('nodepp', []);

            nodepp.controller('MyMsgController', function ($scope, $http) {
                $scope.result = [];
                $scope.submit = function() {
                    $http.post('/', {mymsg: $scope.mymsg})
                        .then(function(docs)  {
                            $scope.result = docs.data.result;
                        });
                };
            });
    body(ng-controller="MyMsgController")
        h1 Webserver is up!
        p=info
        ol
        each route in routes
            li
                a(href="/"+route.title)=route.title
                b &nbsp;-&nbsp;
                =route.description
        form(ng-submit="submit()")
            label(for="mymsg") Random message:
            input(ng-model="mymsg")
            button(type="submit") Submit

        p {{result}}
